{%  extends 'cms/admin/main.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link href="{% static 'css/add2.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <form method="POST" class="add_form" enctype="multipart/form-data">
            {% csrf_token %}
                
            {{form.as_p}}

            <input type="submit" name="Save Data" value="Save Data" class="btn">
        </form>
    </div>

{% endblock content %}