{%  extends 'cms/admin/main.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

        <div class="container-fluid">
            <section>
                <div class="projects">
                    <div class="title">
                        <h3>Projects</h3>
                        <a href="#">Add Project</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Url</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        {% for proj in projects %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ proj.proj_name }}</th>
                            <td>{{ proj.proj_type }}</td>
                            
                            {% if proj.proj_url %}
                            <td><a href="{{ proj.proj_url }}">View</a></td>
                            {%else%}
                            <td>Unavailable</td>
                            {% endif %}

                            <td style="text-align: center;">
                                <a href="#"><i class="fas fa-edit" style="color: #e1a900;"></i>&nbsp;</a>
                                <a href="#"><i class="fas fa-trash-alt" style="color: #d02525;"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </section>
            <section>
                <div class="languages">
                    <div class="title">
                        <h3>Languages</h3>
                        <a href="{% url 'add_lang' %}">Add Language</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        {% for lang in languages %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ lang.lang_name }}</th>

                            <td style="text-align: center;">
                                <a href="{% url 'edit_lang' lang.lang_id %}"><i class="fas fa-edit" style="color: #e1a900;"></i>&nbsp;</a>
                                <a href="{% url 'delete_lang' lang.lang_id %}" onclick="return confirm('Are you sure you want to delete this?')"><i class="fas fa-trash-alt" style="color: #d02525;"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>

{% endblock content %}
