@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff!important;
    overflow-x: hidden;
}

.container-fluid {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

section {
    margin-bottom: 30px;
    background-color: #132d46;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section:nth-child(2) {
    margin-top: 30px;
}

.account {
    padding: 20px;
    flex: 2;
    align-items: center;
}

.personal {
    padding: 20px;
    flex: 1;
    color: #ffffff;
}

.personal .content {
    padding: 20px 40px;
    margin-top: 20px;
    color: #ffffff;
}

.personal .content h3 {
    font-size: 22px;
}

.personal .content p {
    font-size: 16px;
    padding-top: 20px;
}

.personal .content h5 {
    /* padding-top: 10px; */
    font-size: 15px;
}

.personal .content h5 span {
    color: #01c38d;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    color: #ffffff;
}

.title span{
    color: #01c38d
}

.title a {
    color: #01c38d;
    text-decoration: none;
    font-weight: 700;
}

.title a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

table {
    margin-top: 12px;
    background-color: #233f5a;
    width: 70vw;
}

table thead{
    color: #ffffff;
}

table tbody{
    color: #01c38d;
}

table tbody tr td a {
    color: #01c38d;
}


table tbody tr td a i:hover {
    color: #ffffff;
}


