<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/projects_logo.css' %}">
        <title>Portfolio | Projects</title>
    </head>

    <body style="background-color: #0a253f;">
        <header id="navbar">
            <nav class="navbar">
                <a href="{% url 'index' %}"><i class="fas fa-arrow-left"></i><img src="{% static 'images/LF-long_Logo.png' %}" alt="logo" id="logo"/></a>
                <h1>ALL PROJECTS</h1>
            </nav>
        </header>
        <div class="mini-navbar">
			<a href="{% url 'project_apps' %}">Apps</a>
			<a href="{% url 'project_graphics' %}">Graphic Arts</a>
			<a href="{% url 'project_logos' %}" id="active">Logos</a>
		</div>
        <div class="gradient-bg">
            <svg xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -9" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                </defs>
            </svg>
            <div class="gradients-container">
                <div class="g1"></div>
                <div class="g2"></div>
                <div class="g3"></div>
                <div class="interactive"></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container">
                {% for proj in projects %}
                    <div class="cards">
                        <a href="{% url 'details' proj.proj_id %}">
                            {% if proj.proj_img.all.first %}
                            <img class="image" src="{{ proj.proj_img.all.first.proj_img.url }}" alt="Project Image"/>
                            {% endif %}
                            <h2>{{ proj.proj_name}}</h2>
                        </a>
                    </div>
                {% endfor %} 
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var interBubble = document.querySelector('.interactive');
                var curX = 0;
                var curY = 0;
                var tgX = 0;
                var tgY = 0;
                function move() {
                    curX += (tgX - curX) / 1;
                    curY += (tgY - curY) / 1;
                    interBubble.style.transform = "translate(" + Math.round(curX) + "px, " + Math.round(curY) + "px)";
                    requestAnimationFrame(move);
                }
                window.addEventListener('mousemove', function(event) {
                    tgX = event.clientX;
                    tgY = event.clientY;
                });
                move();
            });
        </script>
    </body>
</html>